<mat-toolbar class="navbar" color="primary">
  <span>Traducir Lensuage De Señas Boliviano</span>
</mat-toolbar>

<div class="content">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile  [colspan]="4" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile  [colspan]="1" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile  [colspan]="2" [rowspan]="4">
        <mat-card class="card">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
          <div *ngIf="format==='No format' && !isLoading" class="card-no-content">
              Sin video
          </div>
          <video class="video" [src]="videoUrl" *ngIf="format==='video' && videoUrl && !isLoading" height="200" controls></video> 
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile  [colspan]="1" [rowspan]="1">
      </mat-grid-tile>    
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="button-container">
          <button [disabled]="isLoading" class="button upload-button" mat-raised-button color="primary" (click)="onClick()">Cargar video</button>
          <button [disabled]="isLoading" class="button cancel-button" mat-raised-button color="warn" (click)="onCancelVideo()">Limpiar</button>
          <button [disabled]="format==='No format' || isLoading" class="button send-button" mat-raised-button color="accent" (click)="submitFile()">Enviar</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
</div>

<input (change)="onSelectFile($event)" type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="video/*" style="display:none;" />

